In [1]:
%run Cleaning.ipynb
import sklearn.linear_model as slm
from statistics import mean

In [2]:
#helper function
def testVStrain(x):
    if x >= .80:
        r = 'test'
    else:
        r = 'train'
    return(r)

In [3]:
full_data['train_test'] = np.random.uniform(size = 7540)
full_data['train_test'] = full_data.train_test.apply(lambda x: testVStrain(x))

In [4]:
def repeat(df):
    
    #randomly sorts 80% of the rows into test and 20% into train
    df['train_test'] = np.random.uniform(size = len(df.index))
    df['train_test'] = df.train_test.apply(lambda x: testVStrain(x))
    
    #seperates the training set from the test set
    train = df[df['train_test'] == 'train']
    test = df[df['train_test'] == 'test']

    #preps input and output for training with sklearn
    X_train = np.stack((train.host_total_listings_count, train.accommodates, train.reviews_per_month ),axis = 1)
    Y_train = train.price

    #constructs the training model
    m = slm.LinearRegression().fit(X_train, Y_train)

    #preps the input and output for the validation and rmse 
    X_test = np.stack((test.host_total_listings_count, test.accommodates, test.reviews_per_month ),axis = 1)
    Y_test = test.price

    #calculates RMSE
    yhat = m.predict(X_test)
    rmse = np.sqrt(np.mean((yhat - Y_test)**2))
    
    return(rmse)

In [5]:
def rmse(df, n):
    #creates storage array
    rmse_array = []
    
    #adds the rmse to the array n times
    for i in range(n):
        rmse_array.append(repeat(df))
    
    #converts array to DF before returning
    r = pd.DataFrame(rmse_array)
    return(r)

In [6]:
df = full_data[['price', 'host_total_listings_count', 'accommodates', 'reviews_per_month']].dropna()

top_three = rmse(df, 10000)
top_three.describe()

                  0
count  10000.000000
mean     128.262833
std       27.997552
min       90.868959
25%      108.229634
50%      114.936365
75%      138.980067
max      209.629548

In [7]:
df = full_data[['price', 'accommodates' ,'bedrooms', 'host_total_listings_count', 'guests_included' ,'room_type', 'bathrooms', 'cancellation_policy', 'reviews_per_month', 'number_of_reviews_ltm', 'calculated_host_listings_count', 'review_scores_checkin', 'instant_bookable', 'maximum_nights', 'host_is_superhost', 'security_deposit', 'review_scores_accuracy', 'review_scores_rating', 'longitude', 'host_response_time', 'review_scores_cleanliness', 'minimum_nights']].dropna()

full_model = rmse(df, 10000)
full_model.describe()

                  0
count  10000.000000
mean     135.682623
std       33.760239
min       91.311171
25%      115.088887
50%      121.211808
75%      131.142360
max      216.320433

In [8]:
df = full_data[['price', 'host_total_listings_count', 'accommodates', 'reviews_per_month', 'calculated_host_listings_count' ,'security_deposit']].dropna()

full_model = rmse(df, 10000)
full_model.describe()

                  0
count  10000.000000
mean     131.812854
std       30.402879
min       92.820454
25%      113.171930
50%      118.677535
75%      128.043760
max      205.733975